/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* common header */
.common-header {
  padding: 5rem;
  text-align: center;
  color: #b85d1c;
}

.common-heading {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.small-underline {
  width: 9rem;
  height: 0.1rem;
  margin: 0 auto 1rem auto;
  background-color: #b85d1d;
}

.big-underline {
  width: 20rem;
  height: 0.1rem;
  margin: auto;
  background-color: #b85d1d;
}
/* end of common header */

/* customer */
.customers {
  padding-bottom: 5rem;
  background-color: #15141b;
}

.customers-paragraph {
  font-size: 1.8rem;
  color: #b85c1c;
  width: 50%;
  margin: 2rem auto 4rem auto;
  text-align: center;
}

.customers-card-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.customer-card {
  background-color: #eee;
  width: 60rem;
  display: flex;
  /* border: 3px solid red; */
  
  
}

.customer-image-wrapper {
  margin: auto 0;
  /* border: 3px solid red; */
}

.customers-image {
  width: 20rem;
  /* margin-left: -1.3rem; */
  
}

.customer-info {
  padding: 0 2rem;
}

.customer-fullname {
  font-size: 1.2rem;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 0;
  color: #b85c1c;
}

.customer-paragraph-1 {
  font-size: 1.5rem;
  font-style: italic;
  color: #b85c1c;
}

.customer-paragraph-2 {
  font-size: 1.2rem;
  font-style: italic;
  color: #b85c1c;
}
/* end of customer */
